.guessInputForm {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0px 2px;
  width: 100%;
}

.guessLabel {
  display: block;
}

.inputRow {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-items: center;
  align-items: baseline;
}

.inputField {
  display: block;
  width: 100%;
  border: 2px solid hsl(249, 13%, 32%);
  height: 50px;
  padding: 6px 8px;
  margin-top: 4px;
  border-radius: 3px;
  font-size: xx-large;
}

.inputField:focus {
  outline: 1px auto blue;
  outline-offset: 1px;
  border-color: transparent;
}

.inputField:invalid+span::after {
  content: "✖";
  color: red;
}

.inputField:valid+span::after {
  content: "✓";
  color: green;
}