.cell {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid grey;
  border-radius: 2px;
  align-items: center;
  justify-content: center;

  font-size: xx-large;
  font-weight: 400 ;
}

.cell.correct {
  border: 2px solid #6baa65;
  background-color: #6baa65;
}

.cell.misplaced {
  border: 2px solid #c9b459;
  background-color: #c9b459;
}

.cell.incorrect {
  border: 2px solid #787d7d;
  background-color: #787d7d;
}