.keyboard {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.keyboard-row {
  display: flex;
  justify-content: stretch;
}

.key {
  align-items: center;
  background-color: #dce1ed;
  border: 2px solid transparent;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex: 1 1;
  font-size: 17px;
  font-weight: 700;
  justify-content: center;
  margin: 3px;
  min-height: 46px;
  padding: 3px;
  text-decoration: inherit;
  text-transform: capitalize;
  transition: .2s;
}